<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    
<script type="text/javascript" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">

</script>
<script type="text/x-mathjax-config">
  MathJax = {
    tex: {
      displayMath: [['$$', '$$']],
      inlineMath: [['$', '$']],
    },
  };
</script>
        
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
                       TeX: { equationNumbers: { autoNumber: "AMS" } }
                       });
</script>
    

    


<div style="display:none">
\(
%Residues
\let\Res\relax
\DeclareMathOperator*{\Res}{Res}

%Allow us to write angstroms
\let\ring\r
\renewcommand{\r}{\textbf{r}}
\let\Oersted\O
\let\O\relax
\DeclareMathOperator{\O}{O}

%Define useful symbols for commonly used sets in mathematics
\newcommand{\NN}{\mathbb{N}}
\newcommand{\ZZ}{\mathbb{Z}}
\newcommand{\QQ}{\mathbb{Q}}
\newcommand{\RR}{\mathbb{R}}
\newcommand{\CC}{\mathbb{C}} 
%\newcommand{\H}{\mathbb{H}}

%Useful symbols for differential geometry
\newcommand{\M}{\mathcal{M}}
\renewcommand{\d}{\text{d}}
\newcommand{\Sphere}{\mathbb{S}}
\newcommand{\Torus}{\mathbb{T}}

%Useful notations for electromagnetism
\newcommand{\E}{\textbf{E}}
\newcommand{\B}{\textbf{B}}
\newcommand{\A}{\textbf{A}}
\newcommand{\F}{\mathbb{F}}
\newcommand{\J}{\textbf{J}}

%Useful symbols for vector notation
\newcommand{\x}{\boldsymbol{x}}
\newcommand{\y}{\boldsymbol{y}}
\newcommand{\z}{\boldsymbol{z}}
\newcommand{\p}{\boldsymbol{p}}
\newcommand{\q}{\boldsymbol{q}}
\newcommand{\w}{\boldsymbol{w}}
\renewcommand{\k}{\boldsymbol{k}}
\newcommand{\K}{\boldsymbol{K}}
\newcommand{\Q}{\boldsymbol{Q}}
\renewcommand{\r}{\boldsymbol{r}}

%Useful symbols for physics
\newcommand{\hc}{\text{H.c.}}
\newcommand{\Hc}{\text{H.c.}}
\newcommand{\BZ}{\text{BZ}}
\newcommand{\Kn}{\text{Kn}}
\newcommand{\g}{\mathfrak{g}}

\newcommand{\ahat}{\hat{a}}
\newcommand{\bhat}{\hat{b}}
\newcommand{\chat}{\hat{c}}
\newcommand{\dhat}{\hat{d}}
\newcommand{\ehat}{\hat{e}}
\newcommand{\fhat}{\hat{f}}
\newcommand{\ghat}{\hat{g}}
\newcommand{\hhat}{\hat{h}}
\newcommand{\ihat}{\hat{i}}
\newcommand{\jhat}{\hat{j}}
\newcommand{\khat}{\hat{k}}
\newcommand{\lhat}{\hat{l}}
\newcommand{\mhat}{\hat{m}}
\newcommand{\nhat}{\hat{n}}
\newcommand{\ohat}{\hat{o}}
\newcommand{\phat}{\hat{p}}
\newcommand{\qhat}{\hat{q}}
\newcommand{\rhat}{\hat{r}}
\newcommand{\shat}{\hat{s}}
\newcommand{\that}{\hat{t}}
\newcommand{\uhat}{\hat{u}}
\newcommand{\vhat}{\hat{v}}
\newcommand{\what}{\hat{w}}
\newcommand{\xhat}{\hat{x}}
\newcommand{\yhat}{\hat{y}}
\newcommand{\zhat}{\hat{z}}

\newcommand{\Ahat}{\hat{A}}
\newcommand{\Bhat}{\hat{B}}
\newcommand{\Chat}{\hat{C}}
\newcommand{\Dhat}{\hat{D}}
\newcommand{\Ehat}{\hat{E}}
\newcommand{\Fhat}{\hat{F}}
\newcommand{\Ghat}{\hat{G}}
\newcommand{\Hhat}{\hat{H}}
\newcommand{\Ihat}{\hat{I}}
\newcommand{\Jhat}{\hat{J}}
\newcommand{\Khat}{\hat{K}}
\newcommand{\Lhat}{\hat{L}}
\newcommand{\Mhat}{\hat{M}}
\newcommand{\Nhat}{\hat{N}}
\newcommand{\Ohat}{\hat{O}}
\newcommand{\Phat}{\hat{P}}
\newcommand{\Qhat}{\hat{Q}}
\newcommand{\Rhat}{\hat{R}}
\newcommand{\Shat}{\hat{S}}
\newcommand{\That}{\hat{T}}
\newcommand{\Uhat}{\hat{U}}
\newcommand{\Vhat}{\hat{V}}
\newcommand{\What}{\hat{W}}
\newcommand{\Xhat}{\hat{X}}
\newcommand{\Yhat}{\hat{Y}}
\newcommand{\Zhat}{\hat{Z}}

\newcommand{\HH}{\mathcal{H}}
\newcommand{\Pihat}{\hat{\Pi}}
\newcommand{\sigmahat}{\hat{\sigma}}
\newcommand{\psihat}{\hat{\psi}}
\newcommand{\Psihat}{\hat{\Psi}}
\newcommand{\phihat}{\hat{\phi}}
\newcommand{\thetahat}{\hat{\theta}}
\newcommand{\chihat}{\hat{\chi}}
\newcommand{\Phihat}{\hat{\Phi}}
\newcommand{\Omegahat}{\hat{\Omega}}
\newcommand{\Deltahat}{\hat{\Delta}}
\newcommand{\pihat}{\hat{\pi}}
\newcommand{\varphihat}{\hat{\varphi}}
\newcommand{\rhohat}{\hat{\rho}}
\newcommand{\gammahat}{\hat{\gamma}}
\newcommand{\etahat}{\hat{\eta}}
\newcommand{\V}{\mathcal{V}}
\renewcommand{\L}{\mathcal{L}}
\newcommand{\D}{\mathcal{D}}

\newcommand{\id}{\text{id}}


\DeclareMathOperator{\conv}{conv}
\DeclareMathOperator{\preim}{preim}
\DeclareMathOperator{\im}{im}
\DeclareMathOperator{\supp}{supp}
\DeclareMathOperator{\ver}{ver}
\DeclareMathOperator{\hor}{hor}
\DeclareMathOperator{\ad}{ad}
\DeclareMathOperator{\const}{const}
\DeclareMathOperator{\Ad}{Ad}
\DeclareMathOperator{\SU}{SU}
\DeclareMathOperator{\Cl}{C\ell}
\DeclareMathOperator{\conf}{conf}
\DeclareMathOperator{\SL}{SL}
\DeclareMathOperator{\algsl}{\mathfrak{sl}}
\DeclareMathOperator{\Sp}{Sp}
\DeclareMathOperator{\algsu}{\mathfrak{su}}
\DeclareMathOperator{\GL}{GL}
\DeclareMathOperator{\Unit}{U}
\DeclareMathOperator{\algu}{\mathfrak{u}}
\DeclareMathOperator{\SO}{SO}
\DeclareMathOperator{\algso}{\mathfrak{so}}
\DeclareMathOperator{\sgn}{sgn}
\DeclareMathOperator{\erfc}{erfc}
\DeclareMathOperator{\Log}{Log}
\DeclareMathOperator{\arctanh}{arctanh}
\DeclareMathOperator{\arcsinh}{arcsinh}
\DeclareMathOperator{\arccosh}{arccosh}
\DeclareMathOperator{\Alt}{Alt}
\DeclareMathOperator{\Sym}{Sym}
\DeclareMathOperator{\Aut}{Aut}
\DeclareMathOperator{\Arg}{Arg}
\DeclareMathOperator{\End}{End}
\DeclareMathOperator{\Hom}{Hom}
\DeclareMathOperator{\Spin}{Spin}
\DeclareMathOperator{\Diff}{Diff}
\DeclareMathOperator{\Der}{Der}
\DeclareMathOperator{\Witt}{Witt}
\DeclareMathOperator{\Vir}{Vir}
\DeclareMathOperator{\diag}{diag}
\DeclareMathOperator{\Pf}{Pf}
\DeclareMathOperator{\vecspan}{span}
\DeclareMathOperator{\dist}{dist}
\DeclareMathOperator{\dom}{dom}
\DeclareMathOperator{\range}{range}
\DeclareMathOperator{\1}{\mathbb{1}}

\DeclareMathOperator{\Ai}{Ai}
\DeclareMathOperator{\Bi}{Bi}

\let\Re\relax
\DeclareMathOperator{\Re}{Re}
\let\Im\relax
\DeclareMathOperator{\Im}{Im}

%Useful notations for thermodynamics
\newcommand{\dbar}{{\mathchar'26\mkern-11mu\mathrm{d}}}
    
\)
</div>

<div style="display:none">
    \(\require{cancel}\)
    \(\require{physics}\)
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
                                                  google_ad_client: "ca-pub-7447253757666293",
                                                  enable_page_level_ads: true
                                                  });
    </script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="shortcut icon" type="image/png" href="favicon.png">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
      <script>
          function myFunction(name) {
              var x = document.getElementById(name);
              if (x.style.display === "block") {
                  x.style.display = "none";
              } else {
                  x.style.display = "block";
              }
          }
      </script>
</head>
