<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
  MathJax.Hub.Config({
                     tex2jax: {
                     inlineMath: [['$','$'], ['\\(','\\)']],
                     processEscapes: true
                     }
                     });
</script>
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
                       TeX: { equationNumbers: { autoNumber: "AMS" } }
                       });
</script>

<div style="display:none">
\(
\DeclareMathOperator{\up}{\ket{\uparrow}}
\DeclareMathOperator{\down}{\ket{\downarrow}}
\newcommand{\N}{\mathbb{N}}
\newcommand{\Z}{\mathbb{Z}}
\newcommand{\Q}{\mathbb{Q}}
\newcommand{\R}{\mathbb{R}}
\newcommand{\C}{\mathbb{C}}
\newcommand{\E}{\textbf{E}}
\newcommand{\B}{\textbf{B}}
\newcommand{\A}{\textbf{A}}
\newcommand{\D}{\textbf{D}}
\newcommand{\J}{\textbf{J}}
\newcommand{\x}{\textbf{x}}
\newcommand{\r}{\textbf{r}}
\DeclareMathOperator{\SO}{\text{SO}}
\DeclareMathOperator{\SU}{\text{SU}}
\DeclareMathOperator{\SL}{\text{SL}}
\DeclareMathOperator{\GL}{\text{GL}}
\newcommand{\L}{\mathcal{L}}
\newcommand{\H}{\mathcal{H}}
\DeclareMathOperator{\atan}{atan2}
\DeclareMathOperator{\csch}{csch}
\DeclareMathOperator{\sech}{sech}
\DeclareMathOperator{\arccot}{arccot}
\DeclareMathOperator{\arccsc}{arccsc}
\DeclareMathOperator{\arcsec}{arcsec}
\DeclareMathOperator{\arcsinh}{arcsinh}
\DeclareMathOperator{\arccosh}{arccosh}
\DeclareMathOperator{\arctanh}{arctanh}
\DeclareMathOperator{\arcsech}{arcsech}
\DeclareMathOperator{\arccsch}{arccsch}
\DeclareMathOperator{\arccoth}{arccoth}
\DeclareMathOperator{\sgn}{\text{sgn}}
\DeclareMathOperator{\Res}{\text{Res}}
\let\Re\relax
\DeclareMathOperator{\Re}{\text{Re}}
\let\Im\relax
\DeclareMathOperator{\Im}{\text{Im}}
\)
</div>

<div style="display:none"> \(\require{cancel}\) </div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({
                                                  google_ad_client: "ca-pub-7447253757666293",
                                                  enable_page_level_ads: true
                                                  });
    </script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
      <script>
          function myFunction(name) {
              var x = document.getElementById(name);
              if (x.style.display === "block") {
                  x.style.display = "none";
              } else {
                  x.style.display = "block";
              }
          }
      </script>
</head>
